body {
  margin: 0;
  background: linear-gradient(
    90deg,
    rgba(10, 10, 10, 1) 0%,
    rgba(30, 30, 35, 1) 73%
  );
  font-family: "Chilanka", cursive;
  font-family: "Quicksand", sans-serif;
  color: rgb(250, 100, 120);
}
